@import "./utilities";

.header_wrapper {
    width: 100vw;
    position: fixed;
    right: 0;
    // left: 65px;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border-bottom: 1px solid lighten($color: #000000, $amount: 70);
    background-color: darken($color: #fff, $amount: 10);

    @include mobile_screen {
        padding: 10px 13px;
    }

    h3 {
        font-size: 1.4rem;
        color: $primary-blue;
        // color: #000000;
        font-weight: bolder;

        @include mobile_screen {
            font-size: 1.1rem;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;

        @include mobile_screen {
            column-gap: 0.5rem;
        }

        .menu_btn {
            @include mobile_screen {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .notification_span {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;

                .notification_bell {
                    width: 100%;
                }
            }
        }

        .mode_toggle_wrapper {
            @media (max-width: 426px) {
                display: none;
            }
        }
    }
}
