@import "./utilities";

.card {
    .notification_table_headerText {
        font-weight: bold;
        @include mobile_screen {
            font-size: 0.955rem;
        }
    }
    .table_body {
        &:first-child {
            .badge {
                background: #daa520;
                cursor: pointer;
                padding: 0.3rem;
            }
        }
        .badge {
            height: 5px;
            width: 7px;
        }
    }
}
