@import "../utilities";

.request_card_wrapper {
    padding: 1rem 0.5rem 0;
    .card {
        .card_headerText {
            font-weight: bold;
            @include mobile_screen {
                font-size: 0.955rem;
            }
        }
        .contact_message {
            @include desktop_screen {
                width: 90%;
            }
            text-wrap: wrap;
            width: 350px;
        }
    }
}
