@import "../utilities";

.dashboard_container_wrapper {
    @include mobile_screen {
        padding: 1rem !important;
    }
}

.chart_card {
    .chart_header_text {
        @include mobile_screen {
            font-size: 0.955rem;
        }
    }
}

.barlist_card {
    .barlist_card_header_text {
        @include mobile_screen {
            font-size: 0.955rem;
        }
    }
}

.donut_card {
    .donutChart_header_text {
        @include mobile_screen {
            font-size: 0.955rem;
        }
    }
}

.donut_barlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @include tablet-screen {
        flex-direction: column;
    }
    @include mobile-screen {
        flex-direction: column;
    }
}
